* {
  font-family: "Open Sans", sans-serif; }

body {
  background-color: #FFC0CB;
  color: #4A4A4A; }

section {
  height: 100% !important; }

.reveal .slides {
  height: 100vh !important;
  width: 100vw !important;
  left: 0 !important;
  top: 0 !important;
  transform: none !important;
  zoom: 0 !important; }
  .reveal .slides #flexbox-section,
  .reveal .slides #grid-section,
  .reveal .slides #compare-section,
  .reveal .slides #thanks-section,
  .reveal .slides #title-section {
    display: flex !important;
    justify-content: center;
    align-items: center; }
  .reveal .slides #title-section {
    align-items: flex-start;
    flex-direction: column; }
  .reveal .slides #title-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;
    background-color: rgba(255, 192, 203, 0.9);
    width: 100%;
    height: 300px;
    padding-left: 30px; }
  .reveal .slides #title-title,
  .reveal .slides #flexbox-title,
  .reveal .slides #grid-title,
  .reveal .slides #compare-title,
  .reveal .slides #thanks-title {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 5em; }
  .reveal .slides #title-subtitle {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 3em; }
  .reveal .slides .title {
    font-size: 3em;
    color: #FFC0CB;
    position: absolute;
    top: 50px;
    left: 50px;
    border-bottom: 4px solid #FFC0CB;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif; }
  .reveal .slides .white-section {
    background-color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .reveal .slides .list {
    font-size: 2em;
    margin-left: 100px;
    width: 80%;
    text-align: left;
    margin-bottom: 30px; }
  .reveal .slides .list-item {
    margin-bottom: 30px; }
  .reveal .slides .subtitle {
    font-size: 3em;
    font-family: "Montserrat", sans-serif; }
  .reveal .slides .description {
    font-size: 1.5em;
    margin-top: 20px;
    max-width: 40%;
    line-height: 1.5; }
  .reveal .slides .horizontal {
    flex-direction: row; }
  .reveal .slides .link {
    font-size: 6em;
    color: #4A4A4A;
    transform: color .1s linear; }
  .reveal .slides .link:hover {
    color: #FFC0CB; }
  .reveal .slides .image {
    margin-top: 50px; }
  .reveal .slides .image-75 {
    width: 75%; }
  .reveal .slides .image-50 {
    width: 50%; }
  .reveal .slides .image-40 {
    width: 40%; }
  .reveal .slides .image-35 {
    width: 35%; }
  .reveal .slides .image-30 {
    width: 30%; }
