$main-color: #FFC0CB;
$text-color: #4A4A4A;
$title-font: 'Montserrat', sans-serif;
$content-font: 'Open Sans', sans-serif;

* {
  font-family: $content-font;
}

body {
  background-color: $main-color;
  color: $text-color;
}

section {
  height: 100% !important;
}

.reveal {
  .slides {
    height: 100vh !important;
    width: 100vw !important;
    left: 0 !important;
    top: 0 !important;
    transform: none !important;
    zoom: 0 !important;

    #flexbox-section,
    #grid-section,
    #compare-section,
    #thanks-section,
    #title-section {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    #title-section {
      align-items: flex-start;
      flex-direction: column;
    }

    #title-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-left: 50px;
      background-color: rgba(255,192,203, .9);
      width: 100%;
      height: 300px;
      padding-left: 30px;
    }

    #title-title,
    #flexbox-title,
    #grid-title,
    #compare-title,
    #thanks-title {
      color: white;
      font-family: $title-font;
      font-size: 5em;
    }

    #title-subtitle {
      color: white;
      font-family: $title-font;
      font-size: 3em;
    }
    
    .title {
      font-size: 3em;
      color: $main-color;
      position: absolute;
      top: 50px;
      left: 50px;
      border-bottom: 4px solid $main-color;
      padding-bottom: 10px;
      font-family: $title-font;
    }

    .white-section {
      background-color: white;
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .list {
      font-size: 2em;
      margin-left: 100px;
      width: 80%;
      text-align: left;
      margin-bottom: 30px;
    }

    .list-item {
      margin-bottom: 30px;
    }

    .subtitle {
      font-size: 3em;
      font-family: $title-font;
    }

    .description {
      font-size: 1.5em;
      margin-top: 20px;
      max-width: 40%;
      line-height: 1.5;
    }

    .link {
      font-size: 6em;
      color: $text-color;
      transform: color .1s linear;
    }

    .link:hover {
      color: $main-color;
    }

    .image {
      margin-top: 50px;
    }

    .image-75 {
      width: 75%;
    }

    .image-50 {
      width: 50%;
    }

    .image-35 {
      width: 35%;
    }

    .image-30 {
      width: 30%;
    }
  }
}

